body {
  background: var(--cs);
}

button {
  height: 30px;
  width: 30px;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.623);
  background: var(--cp);
}

button:hover {
  background: rgb(77, 22, 22);
}

button:active {
  box-shadow: unset;
}

#current_username {
  color: var(--text-active);
  font-weight: 900;
}