#valorant_get_hidden_ranks_popup {
  position: fixed;
  top: 92px;
  right: 0;
  width: 192px;
  height: 33px;
  background: var(--cs);
  z-index: 100000000000;
  border-radius: 0 0 0 8px;
  color: #ece8e1;
  font-size: 11px;
  padding: 0 1em;
  cursor: pointer;
}

#valorant_get_hidden_ranks_popup:hover {
  background: var(--cs_hover) !important;
}

#valorant_get_hidden_ranks_popup h4 {
  margin-top: 8px;
}

#valorant_get_hidden_ranks_data {
  position: fixed;
  inset: 0;
  background: var(--cs_dark_see_through);
  z-index: 100000;
  top: 92px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3em;
}

.valorant_get_hidden_ranks_data_active {
  display: flex !important;
}

#valorant_get_hidden_ranks_data_current_gamemode {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: .5em;
}

#valorant_get_hidden_ranks_data_current_gamemode input {
  color: #ece8e1;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: -4px 4px 6px #520209;
  background: #ff4655;
  cursor: pointer;
}

#valorant_get_hidden_ranks_data_current_gamemode_unrated {
  filter: blur(1px);
  box-shadow: 4px 4px 6px #520209 !important;
}

#valorant_get_hidden_ranks_data_current_gamemode_deathmatch {}

#valorant_get_hidden_ranks_data_current_user {
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#valorant_get_hidden_ranks_data_current_user_image {}

#valorant_get_hidden_ranks_data_current_user_username {}

#valorant_get_hidden_ranks_data_search_bar input {
  padding: .5em;
  width: 16.9375rem;
  border-radius: 5px;
  height: 2em;
}

#valorant_get_hidden_ranks_data_list {
  padding: 1em;
}
.valorant_get_hidden_ranks_data_list_item{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  height: 2em;
}
.valorant_get_hidden_ranks_data_list_item_username{

}
.valorant_get_hidden_ranks_data_list_item_rank{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  min-width: 7.5em;
}
.valorant_get_hidden_ranks_data_list_item_rank_title{

}
.valorant_get_hidden_ranks_data_list_item_rank_image{
  width: 30px;
}
#players_list {
  display: flex;
  flex-direction: column;
  gap: .25em;
  align-items: center;
  justify-content: center;
  background: #292929;
  color: white;
  font-size: 1em;
  max-width: 80%;
  margin: auto;
  border-radius: 8px;
  /* border: 3px solid #b9bd43; */
}

.player_item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: #c0c0c038;
  height: 2.5em;
}

.player_name {}

.player_name_active {
  color: var(--text-active);
  font-weight: 900;
}

.player_rank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.player_rank img {
  width: 30px;
}

.player_rank h3 {
  margin: 0;
  font-size: 12px;
}